/* Estilo para el fondo del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posici칩n fija para cubrir toda la pantalla */
    z-index: 1; /* Asegura que se superponga a otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Anchura completa */
    height: 100%; /* Altura completa */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* Centramos el contenido */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Anchura del modal */
    max-width: 400px; /* M치xima anchura */
    text-align: center;
    border-radius: 10px;
  }
  
  /* Bot칩n de cerrar (X)
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
   */
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Bot칩n de cerrar en la parte inferior del modal */
  .close-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #45a049;
  }
  